/* public/css/home.css */
.container {
    max-width: 800px;
    margin: 0 auto;
}

.page-title {
    color: var(--color-three);
    text-align: center;
    margin-bottom: 30px;
}

.alert-info {
    background-color: #d1ecf1;
    color: #0c5460;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #bee5eb;
    border-radius: 5px;
}

.dashboard-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.dashboard-item {
    background-color: #41455e; /* Um tom mais escuro para os itens */
    border: 1px solid #555;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

#linkList {
    font-size: larger;
    color: var(--color-three);
}

.dashboard-item-title {
    color: var(--color-one);
    margin-top: 0;
    margin-bottom: 10px;
    border-bottom: 2px solid var(--color-one);
    padding-bottom: 5px;
}

.dashboard-item-value {
    color: var(--color-three);
    font-size: 2em;
    font-weight: bold;
}

.dashboard-item form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dashboard-item form input[type="month"] {
    padding: 8px;
    border: 1px solid var(--color-one);
    border-radius: 5px;
    background-color: var(--color-two);
    color: var(--color-one);
    box-sizing: border-box;
}

.chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
}
#specialArea {
    width: 100%;
}
